@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

*{
	box-sizing: border-box;
 }

body{
	/* font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; */
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #555555;
	/* background: #121214; */
	background: #f9fbfd;
	background: linear-gradient(
		to right top, #9f8de5, #f6c2b1
	);
}

header {
	width: 100%;
	position: fixed;
	height: 4em;
	top: 0;
	color: #e1e1e6;
	background:#a1b0c0;
	background: rgb(32, 32, 36) none repeat scroll 0% 0%; 
	z-index: 2;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

h1.titulo {
	padding: 0;
}

header h2{
	display:inline-block;
	vertical-align:	middle;
	background-color: #a1b0c0; ;
	
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
	
	
}

.container {
	width: 80%;
	height: 100%;
	margin: 6em auto;
	/* background:#a1b0c0; */
/* 	background-color: #32a7e5;
	background: #202024; */
	padding: 3rem;
	border-radius: 15px;
/* 	background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
        );
		backdrop-filter: blur(4.5em); */

		background: rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(4.5em);
}

.container-header {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 1em;
	/* color: #555; */
}

.titulo {
	font-size: 2em;
	font-weight: 700;
}

.container h2, td {
	color: #434385;;
	font-weight: 300;
	
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 2em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid rgba(180, 180, 180, 0.5);
	margin-bottom: .6em;
}

table{
	width: 100%;
	margin-bottom : .5em;
	table-layout: fixed;

}

td, th {
	padding: 1em;
	margin: 0;
	border: 1px solid #e1e1e6;
	text-align: center;
}

th{
	font-weight: bold;
	padding: 20px;
	/* background-color: #8257e6; */
	background-color: #41eb9e;
	/* color: #e1e1e6; */
	color: rgb(56, 86, 121);
}

label{
	color: #555;
	display: block;
	margin-bottom: .7em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #cccccc;
	padding: 1.5em;
	width: 100%;
	border-radius: 0.5em;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 33%;
	display: inline-block;
	margin: 2% 0;
}

.grupo-nome{
	width: 100%
}

button{
	font-weight: bold;
	padding: .8em 2em;
	border: 0;
	border-radius: 3px;
	/* border-bottom: 3px solid; */
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#005ff9;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top: -3px;
	border: 0;
	background-color: #00c86f;
	margin: 10px 0px;
	border: 0;
	/* border-bottom: 3px solid; */
	border-color: #04324c;

}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

button#buscar-pacientes{
	width: 30%;
	margin-top: 1.5em;
}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: #d74254;
}

.titulo:hover {
	cursor: pointer;
}

#mensagens-erro li{
	font-size: 1rem;
	color: red;
	font-weight: 300;
	margin-bottom: 1rem;
}
.fadeOut{
	opacity: 0;
	transition: .5s;
}

#filtrar-tabela {
	margin-bottom: 2em;
	padding: 1.5em;
	border: 0;
	border-radius: 0.5em;
	color:#555555;
}

.invisivel{
    display: none;
}
